In [1]:
!pip install pandas

Requirement already satisfied: pandas in /Users/arun/anaconda3/lib/python3.11/site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/arun/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/arun/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Users/arun/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /Users/arun/anaconda3/lib/python3.11/site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in /Users/arun/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
import pandas as pd

In [8]:
import numpy as np

In [4]:
train_data = pd.read_csv("training_data.csv", delimiter= ":")
train_data

            x         x2          y
0   -0.228788  -2.287877   3.506056
1   -0.094669  -0.946690   0.782723
2   -0.956651  -9.566513   3.045309
3   -1.984509 -19.845088   3.063300
4    0.386115   3.861152   5.548161
..        ...        ...        ...
995  6.090780  60.907804   6.994628
996  6.404440  64.044398  10.341862
997  6.759155  67.591547   8.604072
998  7.696100  76.960998   9.130374
999  7.035916  70.359157   7.827138

[1000 rows x 3 columns]

In [5]:
train_data.describe()

                x          x2           y
count  998.000000  998.000000  998.000000
mean     3.496300   34.963000    5.641535
std      3.270797   32.707971    2.696431
min     -3.444108  -34.441079   -0.075518
25%      0.118074    1.180740    3.432217
50%      4.011380   40.113800    5.081093
75%      6.306373   63.063733    8.294083
max      9.846538   98.465379   11.521694

In [7]:
train_data.isna().sum()

x     2
x2    2
y     2
dtype: int64

In [9]:
train_data=train_data.fillna(np.mean(train_data))

In [11]:
train_data.isna().sum()

x     0
x2    0
y     0
dtype: int64

In [17]:
features=['x']
target=['y']
x_train=train_data[features]
y_train=train_data[target]

In [18]:
x_train

            x
0   -0.228788
1   -0.094669
2   -0.956651
3   -1.984509
4    0.386115
..        ...
995  6.090780
996  6.404440
997  6.759155
998  7.696100
999  7.035916

[1000 rows x 1 columns]

In [19]:
from sklearn.linear_model import LinearRegression

In [20]:
model=LinearRegression()

In [21]:
model.fit(x_train, y_train)

LinearRegression()

In [22]:
y= model.predict([[2]])

/Users/arun/anaconda3/lib/python3.11/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [23]:
y

array([[4.6071936]])

In [24]:
model.coef_

array([[0.69299657]])

In [25]:
model.intercept_

array([3.22120046])

In [ ]:
y= model_intercept